.sd-main-content {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 100vh;
  // margin-top: 250px;
}
@media (min-width: 476px) {
  .sd-main-content {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 768px) {
  .sd-main-content {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 992px) {
  .sd-main-content {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 1200px) {
  .sd-main-content {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 476px) {
  .sd-main-content {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .sd-main-content {
    width: 720px;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .sd-main-content {
    width: 960px;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .sd-main-content {
    width: 1140px;
    max-width: 100%;
  }
}
@media (min-width: 1400px) {
  .sd-main-content {
    width: 1340px;
    max-width: 100%;
  }
}

.ant-card-body {
  -webkit-box-shadow: 14px 9px 23px -6px rgba(222, 243, 255, 1);
  -moz-box-shadow: 14px 9px 23px -6px rgba(222, 243, 255, 1);
  box-shadow: 14px 9px 23px -6px rgba(222, 243, 255, 1);
}
.ant-modal-confirm-body {
  display: flex;
  justify-content: center;

  > span {
    display: none;
  }
}

// .ant-form-item {
//   margin-bottom: 50px;
// }

.button-submit {
  margin-bottom: 50px;
  text-align: center;
}
